html
{
    margin:0px;
    padding:0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.backgroundContainer {
    position: fixed;
    margin: 0px;
    padding: 0px;
    z-index:1;
}
.contentContainer
{
    overflow:scroll;
    height:100Vh;
    width:20vw;
    position:absolute;
    z-index:2;
}