################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebPortfolio/FileContentIndex/73147e33-2b4a-47db-bfab-e933d69dea15.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/WebPortfolio/v17/.wsuo
/.vs/WebPortfolio/v17/DocumentLayout.backup.json
/.vs/WebPortfolio/v17/DocumentLayout.json
/.vs/WebPortfolio/FileContentIndex/65e30d22-61c5-4639-a5d3-1645885de42f.vsidx
*.vsidx
