body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.centeredElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.welcomeText{
    font-size: 20px;
}
.buttonContainer{
    margin: auto;
}
.continueButton{
    font-size: 20px;
    color: green;
    z-index: 2;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}